<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile><img src="../../assets/images/login.jpg" height="80%" /></mat-grid-tile>
  <mat-grid-tile>
    <div class="parent">
      <h1>Login</h1>
      <form class="example-form" (ngSubmit)="login()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [(ngModel)]="body.email"
                  placeholder="Email"
                  name="email"
                  #email="ngModel"
                  required
                  width="100%"
                  maxlength="30"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input
                  type="password"
                  matInput
                  [(ngModel)]="body.password"
                  name="password"
                  #password="ngModel"
                  required
                  maxlength="30"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button mat-raised-button name="submit" color="primary" type="submit">Login</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
